<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <link rel="icon" href="data:,">
</head>
<div class="admin container-fluid">
  <div class="row flex-nowrap">
    <%= render 'shared/admin_nav' %>
    <div class="col py-3">
      Admin is a work-in-progress. Please wait for future releases...
    </div>
  </div>
</div>

</html>
