<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <link rel="icon" href="data:,">
</head>
<body class="admin container-fluid bg-lightgrey">
  <div class="row flex-nowrap">
    <%= render 'shared/admin_nav' %>
    <div class="col py-3 lead m-4">
      <h1 class="display-6">Admin dashboard</h1>
      <div class="lead">
        The admin dashboard is a work-in-progress. Please wait for future releases...
      </div>
    </div>
  </div>
</body>

</html>
