<!DOCTYPE html>
<html>
  <head>
    <title>BootifulRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="icon" href="data:,">
  </head>

  <body class="<%= request.path_info.in?(['/login']) ? 'light-grey' : '' %>">

    <%= render 'shared/header' unless request.path_info.in?(['/login']) %>

    <main>
      <%= yield %>
    </main>

    <%= render 'shared/footer' unless request.path_info.in?(['/login']) %>
    
  </body>
</html>
