<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <link rel="icon" href="data:,">
</head>

<body class="profile bg-light">
  <%= render 'shared/profile_nav' %>
  <%= render 'shared/profile_secondary_nav' %>
  <main>
    <%= yield %>
  </main>
  <%= render 'shared/alternate_footer' %>
</body>

</html>
